# Sarvam AI API Key (Required for Transcription)
SARVAM_API_KEY=sk_iei7sd5b_weLmskGykJ4HUsRMnysuS11y

# Gemini AI API Key (Required for English Translation & Advanced Diarization)
# Get one at: https://aistudio.google.com/
GEMINI_API_KEY=AIzaSyCw3NFRlGGdqcPrFjyohFlo1uDuDefY8ks

# App API Key (Required for FastAPI authentication)
APP_API_KEY=Sk-drVAWpI6-3X1qakNfufRQ-AZ7Ny8o5Y6EP-OsMlTmWdxBo
